@import './css_modules/header.css';
@import './css_modules/footer.css';

:root {
    --yellow: #FFE81C;
    --black: #040404;
}

main {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-template-columns: 10% repeat(6, 1fr) 10%;
    margin: auto;
}
main > img {
    width: calc(100% / 6 * (9 / 10));
    object-fit: cover;
}