@import './css_modules/header.css';
@import './css_modules/footer.css';

:root {
    --yellow: #FFE81C;
    --black: #040404;
}

body {
    margin: 0;
    margin-top: 25px;
}
/*homepage*/
main#homepage {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}
main#homepage > img {
    width: calc(100% / 6 * (9 / 10));
    object-fit: cover;
}
/*programme page*/
div.piece {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
    margin-left: 15%;
    margin-top: 25px;
}
div.piece:hover {
    cursor: pointer;
}
/*piece page*/
#page {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: auto;
}
#page > img {
    width: 50%;
}
#page > h2, #page > div.details {
    width: 40%;
    margin: auto;
}